body{
    background-color: #fca5a5;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}


@media (max-width: 840px) {
    .sidebar ul li , .sidebar span h2{
        font-size: 0;
    }    
}

.sidebar{
    background-color: #dc2626;
    width: clamp(90px, 20%, 400px);
    min-width: 90px;
    min-height: 100%;
    color: #fef2f2;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar h2{
    font-size: clamp(1rem, 1.8vw, 2rem);
}

.sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin-bottom: 80px;
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
}

.sidebar ul li{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: 200ms linear;
}
.sidebar ul li:hover{
    color: #ccc;
}

#sidebarContent{
    position: fixed;
    padding-left: clamp(2%, 5%, 35px);
    min-height: 100vh;; 
}

#header span img, #header span h2{
    display: inline-block;
    vertical-align: middle;
    margin-top: 25px;
    margin-bottom: 30px;
}

#main{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: clamp(90px, 20%, 400px);
}

#topBar{
    background-color: #e7e5e4;
    height: clamp(50px, 30%, 35vh);
}

#mainPart{
    width: 100%;
    height: clamp(150px, 70vh, 100vh);
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#projects{
    margin-top: 25px;
    margin-left: 15px;
    margin-bottom: 20px;
}

#projects h2{
    font-size: clamp(1.5rem, 2vw, 2.5rem);
}



#projects > div{ /* Card Container */
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media (min-width: 600px) {
    #projects > div {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

.card{
    width: 200px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 200ms;
    border-left: 7px solid #ef4444;
}

.card h3{
    text-align: center;
}

.card:hover{
    transform: scale(1.05);
}

#rightCol{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
}

.note{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

.coolList{
    list-style: none;
    padding: 0;
    margin: 0;
}
.coolList li{
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 200ms;
}

.coolList li:hover{
    transform: scale(1.05);
}


#announcments hr {
    width: 70%; /* Change this value as needed */
    margin: 0 auto; /* Center the hr */
}

#topRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: clamp(2%, 5%, 35px);
    padding-right: clamp(2%, 5%, 35px);
}

input{
  width: 250px;
  height: 5px;
  padding: 10px;
  font-size: 16px;
  outline:none;
  /*background: linear-gradient(to left top, #000, #450a0a) fixed;*/
  background: transparent;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: rgba(255,255,255,0.8);
  transition: all 200ms;
}

input:hover{
    border: 2px solid rgba(255,255,255,0.5);
}

input:focus{
    border: 2px solid rgba(255,255,255,0.5);
    /*background: linear-gradient(to left top, #000,rgba(255, 196, 196, 0.988)) fixed;*/
    border: 2px solid #ef4444;
}

#searchBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#account{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#profilePic{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #fff;
}


#profileName a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #450a0a  ;
}

#profileName a:hover{
    cursor: pointer;
    color: #991b1b;
}

#botRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 clamp(2%, 5%, 35px);
}

#botRow h2{
    font-size: clamp(0.75rem, 2vw, 2rem);
}

#buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(0.5%, 15px, 15px);
    margin-right: 25px;
}

#buttons button {
  align-items: center;
  background-color: #ef4444;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 400px;
  min-height: 35px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

#buttons button:hover { 
  background-color: #991b1b;
  color: #ffffff;
}

